In [2]:
import plotto
%matplotlib inline
import imp
from collections import OrderedDict as odict
import numpy as np
import matplotlib.pyplot as plt

class O(object):
    def __init__(self, **kw):
            for k in kw:
                    self.__dict__[k]=kw[k]

In [22]:
meneghetti = plotto.ObservativeTable('data/meneghetti2014.t')
meneghetti

       M                    M200c                          \
   value                    value                    plus
0  -6.49   852000044482560.0 Msun  147000003657728.0 Msun
1  -0.87   943000066719744.0 Msun  175999991939072.0 Msun
2  -3.11   700000011026432.0 Msun  179999999000576.0 Msun
3  -3.93   997999941517312.0 Msun  203000001855488.0 Msun
4  -3.70   612000023445504.0 Msun  271000004460544.0 Msun
5  -4.27   849999999008768.0 Msun  159000008065024.0 Msun
6  -5.00  1041000013234176.0 Msun  265000002256896.0 Msun
7  -6.27   619000014831616.0 Msun  265000002256896.0 Msun
8  -1.56  1150000042082304.0 Msun  332999988084736.0 Msun
9  -2.87   899999995002880.0 Msun  179999999000576.0 Msun
10 -4.37   692000030457856.0 Msun  231000000954368.0 Msun
11 -4.12   750000007020544.0 Msun  192000003407872.0 Msun
12 -3.50   805000016035840.0 Msun  180999988183040.0 Msun
13  2.29   862000003416064.0 Msun  196000010469376.0 Msun
14 -2.90   731000011227136.0 Msun  189000002306048.0 Msun
15 -2.79  1147000007426048.0 Msun  419999986483200.0 Msun
16 -3.44   608999988789248.0 Msun  231000000954368.0 Msun
17 -4.10   570999997202432.0 Msun  249000007565312.0 Msun
18 -1.56   700000011026432.0 Msun  192999992590336.0 Msun

                           c200c                     cluster      z   zsim
                     minus value  plus minus           value  value  value
0   147000003657728.0 Msun  3.46  1.09  1.09        Abell383  0.188  0.250
1   175999991939072.0 Msun  4.09  0.94  0.94        Abell209  0.206  0.250
2   179999999000576.0 Msun  4.60  1.12  1.12       Abell1423  0.213  0.250
3   203000001855488.0 Msun  3.76  1.00  1.00       Abell2261  0.225  0.250
4   271000004460544.0 Msun  3.69  1.01  1.01    RXJ2129+0005  0.234  0.250
5   159000008065024.0 Msun  3.12  1.43  1.43        Abell611  0.288  0.250
6   265000002256896.0 Msun  4.38  1.11  1.11     MS2137-2353  0.313  0.333
7   265000002256896.0 Msun  3.73  1.11  1.11  RXJ1532.8+3021  0.345  0.333
8   332999988084736.0 Msun  3.62  1.09  1.09   RXCJ2248-4431  0.348  0.333
9   179999999000576.0 Msun  3.07  1.45  1.45  MACSJ1115+0129  0.352  0.333
10  231000000954368.0 Msun  3.91  1.05  1.05    MACSJ1931-26  0.352  0.333
11  192000003407872.0 Msun  5.68  1.81  1.81  MACSJ1720+3536  0.391  0.429
12  180999988183040.0 Msun  3.74  1.10  1.10    MACSJ0429-02  0.399  0.429
13  196000010469376.0 Msun  3.14  1.43  1.43    MACSJ1206-08  0.439  0.429
14  189000002306048.0 Msun  3.82  1.09  1.09    MACSJ0329-02  0.450  0.429
15  419999986483200.0 Msun  3.62  1.16  1.16    RXJ1347-1145  0.451  0.429
16  231000000954368.0 Msun  3.90  1.02  1.02    MACSJ1311-03  0.494  0.429
17  249000007565312.0 Msun  3.93  1.07  1.07    MACSJ1423+24  0.545  0.667
18  192999992590336.0 Msun  4.58  1.22  1.22    MACSJ0744+39  0.686  0.667

In [3]:



interp_observations = odict({"Bullock et al 2001":O(xrange=[11,13.5],  c8e14=5.12, B=-0.13) ,
             "Neto et al. 2007": O(xrange=[11,15], c8e14=3.46, B=-0.11),
             "Neto et al. 2007 only relaxed": O(xrange=[11,15], c8e14=5.27, B=-0.11),
             "Bhattacharya et al. 2013":O(xrange=[11,14],  c8e14=3.8, B=-0.08),
             "Dutton & Maccio 2014": O(xrange=[11,14], c8e14=3.94, B=-0.1),
             "Dutton & Maccio 2014 only relaxed": O(xrange=[11,14], c8e14=4.42, B=-0.1),
             "Mantz et. al 2015": O(xrange=[12,14], c8e14=3.12, B=-0.32),
             "Groener et al 2016 WL": O(xrange=[14,15], c8e14=7., B=-0.42),
             "Groener et al 2016 WL+SL": O(xrange=[14,15], c8e14=5., B=-0.43),
             "Kyplin et al. 2016": O(xrange=[14,15], c8e14=3.8, B=-0.12)})

In [4]:
#imp.reload(plotto)
pratt = plotto.ObservativeTable('data/Pratt_et_al_2016.txt')
#pratt.M500.value

In [5]:

rsfac = 0.46556

NFW = lambda r,rho0,rs: rho0/((r/rs)*(1.+r/rs)**2.)
#xs = np.logspace(-1,np.log10(.46),200)
#profile = NFW(xs, 1./rsfac, 10.)

NFW(rsfac,  10., 1.)

10.000394537089177

In [6]:
def sc(c0,a):
    return lambda x: c0*(x/8.e14)**a

def set_Mc_lims(a,loc=None):
    a.set_xscale('log')
    a.set_xlim([1e11,2e15])
    a.set_ylim([1,20])
    a.set_yscale('log')
    a.set_xlabel("M200c [Msun]")
    a.set_ylabel("c200c ")
    if loc is None:
        a.legend()
    else:
        a.legend(loc=loc)
[0]*3

[0, 0, 0]

In [7]:
pratt = plotto.ObservativeTable('data/Pratt_et_al_2016.txt')

In [11]:
rsfac = 0.46556
NFW = lambda r,rho0,rs: rho0/((r/rs)*(1.+r/rs)**2.)




f_NFW = lambda c:(np.log(1.+c)-c/(1.+c))

def cdelta1(delta1,delta2,cdelta2):
    return lambda cdelta1: cdelta2 * (  (delta2/delta1)*(f_NFW(cdelta1)/f_NFW(cdelta2))  )**(1./3.)


def banach_caccioppoli(f,x0,accuracy=0.00001): 
    """ this function solves equation of the kind x=f(x) by iterations, given an initial value x=x0"""
    condition=True
    x1=x0
    steps=0
    while condition:
        
        steps+=1
        x2 = f(x1)
        error = np.abs(x2-x1)/x2
        condition = np.all(error>accuracy)
        x1=x2
    return x2, steps,error

def convert_concentration(new_delta, old_delta, old_concentration):
    new_concentration,steps,error = banach_caccioppoli( cdelta1(new_delta, old_delta,  old_concentration), old_concentration)
    return new_concentration

def convert_mass(new_delta, old_delta,  new_concentration, old_concentration, old_mass):
    new_mass = old_mass*(new_delta/old_delta)*(new_concentration/old_concentration)**3
    #print('new_mass',new_mass)
    return new_mass

def convert_mass_and_concentration(new_delta, old_delta, old_concentration, old_mass):
    new_concentration,steps,error = banach_caccioppoli( cdelta1(new_delta, old_delta,  old_concentration), old_concentration)
    new_mass = old_mass*(new_delta/old_delta)*(new_concentration/old_concentration)**3
    return new_mass, new_concentration
import pandas as pd


            
def convert_ds(ds, sfrom, kto, f):
    if 'plus'  in sfrom or 'minus' in sfrom:
        #print('C')
        ds [(kto,'value')] = f(sfrom.value)
        #display(sfrom.value)
        #display(f(sfrom.value))
        if 'plus' in sfrom:
            ds [(kto,'plus')] = f(sfrom.value+sfrom.plus) - f(sfrom.value)
        
        if 'minus' in sfrom:
            ds [(kto,'minus')] = f(sfrom.value) - f(sfrom.value-sfrom.minus) 
    else:
        if 'value' in sfrom:
            ds [(kto,'value')] = f(sfrom.value)
        else:
            ds [kto] = f(sfrom)

In [12]:

#pratt['c200'] = convert_ds(pratt.c500, lambda ds: convert_concentration(200., 500., ds))
#print(pratt.__dict__)
#pratt['M200'] = convert_ds(pratt.M500, lambda ds: convert_mass(200., 500., pratt.c200, pratt.c500,  ds))

#pratt.c200
#import pandas as pd
#print('-------------------')
#print(pratt.__class__)
#print(pratt.c500.__class__)
#newdf = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=pd.MultiIndex(
#                levels=[['test'],['value','plus','minus']],
#                labels=[[0,0,0],[0,1,2]]
#         ))
#display(newdf.test)
#pratt[
#    [    ('c200','value'),
#         ('c200','plus'),
#         ('c200','minus')
#    ] 
#]=  convert_ds(pratt.c500, lambda ds: convert_concentration(200., 500., ds))
convert_ds(pratt, pratt.c500, 'c200', lambda c: convert_concentration(200., 500.,c))
#pratt[[('c200','value'),('c200','plus','minus')]=convert_concentration(200., 500., pratt.c500)
#= convert_concentration(200., 500., pratt.c500)
#pratt
convert_ds(pratt, pratt.M500, 'M200', lambda ds: convert_mass(200., 500., pratt.c200.value, pratt.c500.value,  ds))

pratt.M200

NameError: name 'pratt' is not defined

In [21]:
andrea_old = plotto.ObservativeTable('data/biviano_et_al_2018.txt')
andrea = plotto.ObservativeTable('data/biviano_donofrio.txt')


convert_ds(andrea, andrea.c500c, 'c200', lambda c: convert_concentration(200., 500.,c))
convert_ds(andrea, andrea.M500c, 'M200', lambda ds: convert_mass(200., 500., andrea.c200.value, andrea.c500c.value,  ds))

In [18]:
andrea.M200

        value
0    9.995670
1   13.405002
2    5.614373
3    4.810940
4    1.099548
5    4.681310
6    7.072836
7    5.453915
8    3.422993
9    5.248772
10   2.015167
11   0.996445
12   2.838449
13   1.783406
14   6.188256
15   4.414400
16   1.999144
17   2.692751
18  24.806122
19   2.102265
20   1.904258
21   3.139194
22   4.717037
23   8.749304
24  14.895655
25   5.315464
26  24.998918
27   7.964706
28   4.520023
29   1.565307
30   8.815971
31   6.786716
32  13.081955
33   6.059700
34   1.372954
35   2.102543
36   4.754437
37   4.683831

In [50]:

bartolucci = plotto.ObservativeTable('data/bartolucci_et_al_2018.csv',csv_delimiter=',')

In [64]:
clash  = plotto.ObservativeTable('data/CLASH.txt',csv_delimiter=',')
clash.c200c

    value
0     4.4
1     3.3
2     3.4
3     4.3
4     3.4
5     3.1
6     3.2
7     2.3
8     3.2
9     3.0
10    4.3
11    3.3
12    4.3
13    3.8
14    3.9
15    4.4
16    4.7
17    4.1
18    4.0
19    NaN
20    NaN

In [52]:
fossil = plotto.ObservativeTable(from_csv_filename='data/fossil_stack.csv', csv_delimiter=',')

In [53]:
fossil_groupby = fossil.groupby(fossil.author.value)
fossil_papers = []
for fossil_set_author, fossil_set in fossil_groupby:
    if not np.all(fossil_set.c200>0):

        convert_ds(fossil_set, fossil_set.c500, 'c200', lambda c: convert_concentration(200., 500.,c))
        convert_ds(fossil_set, fossil_set.M500, 'M200', lambda m: convert_mass(200., 500., fossil_set.c200.value, fossil_set.c500.value,  m))
        fossil[fossil.author.value==fossil_set_author] = fossil_set

/home/moon/ragagnin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/moon/ragagnin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/moon/ragagnin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
pratt.M500.value

0       360000000000000.0 Msun
1       482000000000000.0 Msun
2       526000000000000.0 Msun
3       578000000000000.0 Msun
c200                       NaN
M200                       NaN
Name: value, dtype: object

In [55]:
fossil

           M200                                      M500                \
          value          plus         minus         value          plus
0  3.100000e+14  5.000000e+13  5.000000e+13  3.100000e+14  1.000000e+14
1  4.701662e+12  1.237279e+12  1.237279e+12  3.800000e+12  1.000000e+12
2  7.900000e+13  6.000000e+12  6.000000e+12           NaN           NaN
3  5.453916e+12  1.231529e+11  8.796638e+10  3.100000e+12  7.000000e+10

                                  author       c200                      c500  \
          minus                    value      value      plus     minus value
0  1.000000e+14  Khosroshahi et al. 2006  11.200000  4.500000  4.500000   NaN
1  1.000000e+12     Humphrey et al. 2018  11.510557  4.503457  3.815819  7.90
2           NaN        Buote et al. 2016   8.400000  1.000000  1.000000   NaN
3  5.000000e+10     Humphrey et al. 2018   1.884199  0.103472  0.103322  1.15

                    cluster               r200                   \
   plus minus         value              value             plus
0   NaN   NaN  RXJ1416+2315  1220.0 kiloparsec  60.0 kiloparsec
1  3.20  2.70       NGC1521     nan kiloparsec   nan kiloparsec
2   NaN   NaN  RXJ1159+5531     nan kiloparsec   nan kiloparsec
3  0.07  0.07        NGC720     nan kiloparsec   nan kiloparsec


             minus
0  60.0 kiloparsec
1   nan kiloparsec
2   nan kiloparsec
3   nan kiloparsec