In [1]:
import pandas as pd
import sqlite3
import contextlib 
%matplotlib notebook
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import g3read as g

h=.704
mass_Msun=1e10/h
r_kpc=1./h

In [2]:
def simul(q):
    with contextlib.closing(sqlite3.connect("/tmp/ciao_1e4.sql")) as con:
        with con as cur:
           return pd.read_sql_query(q, cur)

In [8]:
df = simul ("""
select fof.*, MAX(g.smst4) as max_mstargal, MIN(g.smst4) min_mstargal
from fof inner join (
    select smst4,galaxy.id_cluster,galaxy.snap_id from galaxy order by smst4 desc
) as g on g.id_cluster = fof.id_cluster and g.snap_id = fof.snap_id
inner join snap on fof.snap_id = snap.id 
where snap.tag = 'z0'
-- limit 5000;
""")

In [ ]:
rdf = df.sample(n=100)